<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>System Login</h1>

        <form method="POST">
            <label>Role:</label>
            <select name="role">
                <option value="User Admin">User Admin</option>
                <option value="Fund Raiser">Fund Raiser</option>
                <option value="Donee">Donee</option>
                <option value="Platform Manager">Platform Manager</option>
            </select>

            <br><br>

            <label>Username:</label>
            <input type="text" name="username">

            <br><br>

            <label>Password:</label>
            <input type="text" name="password">

            <br><br>

            <button type="submit">Login</button>
        </form>
    </body>
</html>