<!DOCTYPE html>
<html>
    <head>
        <title>View Users</title>

        <style>
            a {
            text-decoration: none;
            }
        </style>
    </head>
    <body>
        <h1>All User Accounts</h1>

        <table border="1" cellpadding="8">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Role</th>
                <th>Status</th>
                <th>Action</th>
            </tr>

            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.status }}</td>
                <td>
                    <a href="/edit-user/{{ user.id }}">
                        <button style="margin-right: 5px;">Edit</button>
                    </a>
                    
                    {% if user.status == "Active" %}
                    <a href="/suspend-user/{{ user.id }}">
                        <button>Suspend</button>
                    </a>
                    {% else %}
                    <a href="/unsuspend-user/{{ user.id }}">
                        <button>Unsuspend</button>
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}

        </table>

        <br>

        <a href="/dashboard">
            <button>Back to Dashboard</button>
        </a>
    </body>

</html>