<!DOCTYPE html>
<html>
    <head>
        <title>View activities</title>
    </head>

    <body>
        <h1>All current activities</h1>

        <form method="GET" action="/view-activities">
            <input type="text" name="search" placeholder="Search Activities">
            <button type="submit">Search</button>
        </form>

        <table border="1" cellpadding="8">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Target Amount</th>
                <th>Category</th>
                <th>Deadline</th>
                <th>Action</th>
            </tr>

            {% for activity in activities %}
            <tr>
                <td>{{ activity.id }}</td>
                <td>{{ activity.title }}</td>
                <td>{{ activity.description[:30] }}</td>
                <td>{{ activity.target_amount }}</td>
                <td>{{ activity.category }}</td>
                <td>{{ activity.deadline }}</td>
                <td>
                    <a href="/edit-activity/{{ activity.id }}">
                        <button>Edit</button>
                    </a>

                    <a href="/delete-activity/{{ activity.id }}">
                        <button>Delete</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>

        <br>

        <a href="/dashboard">
            <button>Back to dashboard</button>
        </a>
    </body>
</html>